/* Write your CSS here */
.banner-container {
  background: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.heading {
  color: #334155;
  font-weight: 400;
}
.button-element {
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
  height: 40px;
  width: 120px;
}
.para {
  color: #1e293b;
  font-weight: 400;
}
